<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Tresor.one PDF Import Demo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="icon.png">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- Place favicon.ico in the root directory -->

</head>

<body>
  <div id="app">
    <section class="section">
      <div class="container" style="max-width: 400px; margin: 0 auto;">
        <h1 class="title">
          📈 Tresor One
        </h1>
        <p class="subtitle">
          PDF Import
        </p>
        <p>
          <div class="file is-primary">
            <label class="file-label">
              <input class="file-input" type="file" name="resume" ref="myFiles" @change="fileHandler" multiple />
              <span class="file-cta">
                <span class="file-label">PDFs hinzufügen</span>
              </span>
            </label>
          </div>
          <br>
          <ul v-show="activities.length > 0" class="list">
            <li class="list-item" v-for="(activity, i) in activities" :key="i">
              <div v-if="!activity.parserError">
                <div>
                  <div class="level is-marginless is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p v-if="activity.type">
                          <span class="tag is-success is-light"
                            :class="getTypeColor(activity.type)">{{activity.type}}</span>
                          <!-- <span v-if="activity.holding" class="tag">{{holding(activity.holding).symbol}}</span> -->
                          <span class="tag is-light">{{activity.shares}}x</span>
                        </p>
                      </div>
                    </div>
                    <div class="level-right">
                      <div class="level-item has-text-right">
                        <p v-if="activity.amount !== undefined">
                          <strong :class="getPriceColor(activity.type)">
                            <small>{{formatPrice(activity.amount)}}€</small>
                          </strong>
                        </p>
                      </div>
                    </div>
                  </div>
                  <p style="margin: .5em 0 0">
                    <strong>
                      <small v-if="activity.holding">{{getHoldingName(activity.holding)}}</small>
                      <small v-else>{{activity.company}}</small>
                    </strong>
                  </p>

                  <p>
                    <small class="is-size-7">Tax: {{formatPrice(activity.tax)}}€</small>
                  </p>
                  <p>
                    <small class="is-size-7">Fee: {{formatPrice(activity.fee)}}€</small>
                  </p>

                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <p style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 150px;"
                          :title="activity.filename">
                          <small v-if="activity.filename" class="is-size-7">{{activity.filename}}</small>
                        </p>
                      </div>
                    </div>
                    <div class="level-right">
                      <div class="level-item">
                        <p>
                          <small class="is-size-7 has-text-grey">{{formatDate(activity.date)}}</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </p>
      </div>
    </section>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script src="js/vendor/modernizr-3.8.0.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="../dist/main.js"></script>
</body>

</html>